{{!< layout}} <header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main intro-header">
            <h1>Configure Plugin</h1>
        </div>
    </div>
    </header>

    <div class="aui-page-panel main-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-item">
                <div class="aui-group">
                    <div class="aui-item">
                        <form id="admin" class="aui" action="" method="POST">
                       
                            <div class="field-group form-group">
                                <label for="age">User Email:</label>
                                <input type="text" placeholder="Example: 1345"
                                 id="user_email" name="user_email" 
                                 class="form-control" value="{{userEmail}}">
                            </div>
                            <div class="field-group form-group">
                                <label for="age">TMA Key:</label>
                                <input type="text" placeholder="Example: 1345"
                                 id="tma_key" name="TMA_Key" 
                                 class="form-control" value="{{tmaKey}}">
                            </div>
                            <div class="field-group form-group">
                                <label for="age">Project Key:</label>
                                <input type="text" placeholder="Example: 1345"
                                 id="project_key" name="Project_Key" 
                                 class="form-control" value="{{projectKey}}">
                            </div>
                            <div class="field-group">
                                <input type="submit" value="Save" id="saveProjectId" class="button">
                                <p class="message_change">Changes apply</p>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>